{if $product}

<script type="text/javascript">
    var CountdownImageFolder = "{$wa_app_static_url}plugins/productday/img/countdown/";
</script>
<script src="{$wa_app_static_url}plugins/productday/js/countdown.js" type="text/javascript"></script>

<style type="text/css">

.productday_title{
    text-align: center;
    font-weight: bold;
    margin: 10px 0px;
}
.productday_img{
    text-align: center;
}

.productday_name{
    text-align: center;
}

.productday_block .product-price{
    text-align: center;
}
#stage_jbeeb_3{
    margin: 0 auto !important;
}

</style>

<div class="productday_block">
    <div class="productday_title">Товар дня</div>
    
    
    <script type="application/javascript">
    var myCountdown1 = new Countdown({
    								 	time: {$time},
    									width:200, 
    									height:60,  
    									rangeHi:"hour",
    									style:"flip"
                          	
    									});
    </script>
    
    <div class="productday_img">
        <a href="{$wa->shop->productUrl($product)}">
        {$wa->shop->productImgHtml($product, '100x100', ['itemprop' => 'image', 'alt' => $product.name])}  
        </a>
    </div>
    
    <div class="productday_name">
        <a href="{$wa->shop->productUrl($product)}">
            <span itemprop="name">{$product.name|truncate:60}</span>
        </a>
    </div>
    
    <div class="product-price">
        {if $product.compare_price>0}<span class="compare-at-price nowrap">{shop_currency($product.compare_price)}</span>{/if}
        <span class="price nowrap" data-price="{$product.price}">{shop_currency($product.price)}</span>
    </div>

</div>
{/if}